.button {
  display: inline-block;
  width: max-content;
  text-transform: capitalize;

  padding: 14px 28px;
  border-radius: 999px;

  background: #e11d48;
  color: white;
  text-decoration: none;

  font-weight: 600;

  transition: all .3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(225,29,72,.4);
}