.footer {
  background: radial-gradient(
    circle at top,
    rgba(255,0,0,0.08),
    #0b0b0b 40%
  );

  padding: 120px 24px 60px;
  color: white;
}
.footerDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;
}

.bottom {
  margin-top: 80px;
  padding-top: 30px;
  border-top: 1px solid rgba(255,255,255,.1);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-size: 13px;
  color: rgba(255,255,255,.4);
}

/* GRID */

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 60px;
}

.brand img {
  width: 120px;
  margin-bottom: 20px;
}

.brand p {
  color: rgba(255,255,255,.6);
  line-height: 1.6;
}

.grid h4 {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: rgba(255,255,255,.5);
}

.grid ul {
  list-style: none;
  padding: 0;
}

.grid li {
  margin-bottom: 10px;
}

.grid a {
  text-decoration: none;
  color: rgba(255,255,255,.8);
  transition: all .3s ease;
}

.grid a:hover {
  color: white;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* RESPONSIVO */

@media (max-width: 900px){

.grid{
  grid-template-columns: 1fr 1fr;
}

}

@media (max-width: 600px){

.grid{
  grid-template-columns: 1fr;
}

}